.main { 
	z-index: 0;
	margin-top: -132px;
	border-bottom: 15px solid #833f1b;
	&__background-cover {
		background: rgba(245, 153, 11, 0.7);
		height: 100%; 
	}
	&__background-image { 
		background-image: url("../../build/images/AboutUs/Background.jpg");
		background-size: cover;
		height: auto;
		@media  screen and (min-width: 1000px) {
			background-attachment: fixed;
		}
		@media  screen and (min-width: 1167px) {
			height: 1070px;
		}

		@media  screen and (max-width: 1165px) {
			height: 990px;
		}

		@media  screen and (max-width: 991px) {
			height: 940px;
		}

		@media  screen and (max-width: 768px) {
			height: auto;
		}
	}
}
 
.container-title {
	display: block;
	padding-top: 140px;
	text-align: center;
}

.wrapper-main {
	display: flex;
	justify-content: center;

	@media  screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}

	&__col-one {
		display: flex;
		flex-direction: column;
		flex-basis: 40%;
		padding-right: 40px;
		@media  screen and (max-width: 991px) {
			flex-basis: 50%;
		}
		@media  screen and (max-width: 768px) {
			flex-basis: 100%;
			padding-right: 0;
			align-items: center;
		}
	}

	&__text-one {
		width: 100%;
		background: #fe960b;
		border: 3px solid #5f2303;
		border-radius: 50px;
		text-align: center;
		@include bold;
		font-size: 14pt;
		color: #5f2303;
		padding: 15px;
		@media screen and (max-width: 1199px) {
			padding: 20px;
		}
		@media  screen and (max-width: 991px) {
			padding: 15px;
		}
		@media  screen and (max-width: 768px) {
			width: 90%;
		}
		@media  screen and (max-width: 450px) {
			padding: 12px;
		}
	}

	&__text-two {
		margin-top: 90px;
		width: 100%;
		background: #fe960b;
		border: 3px solid #5f2303;
		border-radius: 50px;
		text-align: center;
		@include bold;
		font-size: 14pt;
		color: #5f2303;
		padding: 15px;
		@media screen and (max-width: 1199px) {
			padding: 5px;
		}
		@media  screen and (max-width: 991px) {
			margin-top: 15px;
			padding: 5px;
		}
		@media  screen and (max-width: 768px) {
			width: 90%;
		}
		@media  screen and (max-width: 450px) {
			padding: 10px;
		}
	}

	&__bees {
		width: 100%;
		@media  screen and (max-width: 768px) {
			width: 80%;
		}
	}

	&__photo2 {
		border: 4px solid black;
		border-radius: 5px;
		width: 100%;
		@media  screen and (max-width: 768px) {
			display: none;
		}
	}

	&__photo1 {
		border: 4px solid black;
		border-radius: 5px;
		width: 100%;
		@media screen and (max-width: 1199px) {
			margin-top: 20px;
		}
		@media  screen and (max-width: 768px) {
			display: none;
		}
	}

	&__col-two {
		display: flex;
		flex-direction: column;
		flex-basis: 40%;
		justify-content: center;
		@media  screen and (max-width: 991px) {
			flex-basis: 50%;

		}
		@media  screen and (max-width: 768px) {
			width: 100%;
			align-items: center;
		}
	}
}
