.footer {
	background-image: url("../../build/images/Footer/background.png");
	width: 100%;
	z-index: 20;
	margin-top: -10%;
	padding-top: 10%;
	height: auto;
	&__top {
		display: flex;
		justify-content: center;
	}
	&__bottom {
		padding-top: 61px;
		display: flex;
		flex-wrap: wrap;
	}
	&__icon {
		width: 33%;
		border-radius: 50%;
		@media screen and(max-width: 768px) {
			width: 100%;
		}
	}
	@media screen and (max-width: 700px) {
		margin-top: -15%;
		padding-top: 20%;
	}
	@media screen and (max-width: 470px) {
		margin-top: -32%;
		padding-top: 30%;
	}
}

.footer-wrapper {
	display: flex;
	flex-direction: column;
}