.gallery {
	background-image: url("../../build/images/Gallery/background.jpg");
	width: 100%;
	height: auto;
	border-bottom: 15px solid #833f1b;
	&__background-cover {
		background: rgba(254, 164, 8, 0.65);
		width: 100%;
		height: 100%;
	}
}

.gallery-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 30px;
}

.lightgallery {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 30px;
	&__img {
		display: flex;
		justify-content: center;
		margin: 10px 30px;
		width: 25.3333%;
		@media screen and (max-width: 991px) {
			width: 42%;
		}
		@media screen and (max-width: 768px) {
			width: 39%;
		}
		@media screen and (max-width: 550px) {
			width: 100%;
		}
		@media screen and (max-width: 320px) {
			width: 90%;
		}
	}
	&__min-img {
		padding: 0px;
		margin: 0px;
		border: 4px solid #fed22a;
	}
}