.products {
	background-image: url("../../src/images/Products/background.jpg");
	border-bottom: 15px solid #833f1b;
}

.background-darkening {
	width: 100%;
	height: 100%;
	background: rgba(249, 150, 38, 0.7);
	padding-top: 50px;
	padding-bottom: 50px;
}

.products-wrapper {
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
		flex-basis: 100%;
		justify-content: space-around;
		margin-top: 50px;
		flex-wrap: wrap;
		@media screen and (max-width: 768px) {
			margin-top: 0px;
		}
	}
	&__col-3 {
		flex-basis: 33.333%;
		display: flex;
		justify-content: space-around;
		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}
	}

	&__title {
		margin-top: 20px;
	}
}
