.why-us {
	background-color: #ff9400;
	padding-top: 3%;
	border-bottom: 15px solid #833f1b;
	&__table {
		margin-top: 67px;
		background-image: url("../../build/images/WhyWe/Plate.png");
		 background-size: cover;
		 width: 640px;
		 height: 300px;
		 margin: auto;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 padding-bottom: 30px;
		 @media screen and (max-width: 768px) {
			background-image: url("../../build/images/WhyWe/tablets/Plate.png");
			width: 429px;
		 	height: 183px;
		 	padding-bottom: 0px;
		}
		@media screen and (max-width: 450px) {
			background-image: url("../../build/images/WhyWe/mobile/Plate.png");
			width: 271px;
		 	height: 117px;
		 	padding-bottom: 0px;
		}

		@media screen and (max-width: 273px) {
			background-image: url("");
			width: 100%;
		 	height: auto;
		 	padding-bottom: 0px;
		}
	}

	&__title {
		color: #fedb00;
		padding-left: 30px;
		@media screen and (max-width: 273px) {
			color: #500c00;
		}
	}
}

.wrapper-why-us {
	display: flex;
	justify-content: center;

	&__col {
		flex-basis: 45%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		@media screen and (max-width: 1199px) {
			flex-basis: 60%;
		}
		@media screen and (max-width: 768px) {
			flex-basis: 90%;
		}
		@media screen and (max-width: 450px) {
			flex-basis: 100%;
		}
	}
}

.arguments-block {
	display: flex;
	flex-direction: column;
	&__top-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__index {
		width: 38px;
		height: 38px;
		border: 4px solid #ffdc00;
		background-color: #500c00;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffdc00;
		@include regular;
		@media screen and (max-width: 450px) {
			width: 33px;
			height: 33px;
		}
	}

	&__title {
		flex-basis: 60%;
		text-align: center;
		color: #500c00;
	}
	&__text {
		text-align: center;
		@include regular;
		font-size: 15pt;
		color: #500c00;
		@media screen and (max-width: 450px) {
			font-size: 14pt;
		}
	}
}